<form action="/book" method="POST" class="mt-6">
  <!-- Hidden product ID -->
  <input type="hidden" name="productId" value="<%= item._id %>" />

  <!-- Book button -->
<button type="submit"
  class="block w-full bg-indigo-600 text-white px-10 py-3 rounded-lg shadow hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 transition text-center">
  Book
</button>
</form>